@import '../../../styles/variables';

.linkBody {
  background-color: transparent;
  border: 1px solid $mainGreen;
  padding: 10px;
  font-weight: 500;
  color: #FFF;
  font-size: 20px;
}

a:hover .linkBody {
  background-color: $mainItem;
}

a.active .linkBody {
  background-color: $mainGreen;
}