// breakpoints
$xs-bp: 0;
$sm-bp: 576px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1400px;

// colors
$white: #FFF;
$green: #13CE66;
$dark: #08080a;
$gray: #242426;
$mainGreen: #07b38d;
$mainBackground: #313131;
$mainItem: #1d1d1d;