@import '../../styles/variables';
@import '../../styles/mixins';

.gridWrapper {
  position: relative;
}

.appWrapper {
  min-height: 100vh;
  padding-top: $headerHeight;
  padding-left: $sidebarWidth;
  background-color: $mainBackground;
}