@import '../../../styles/variables';

.person {
  display: flex;
  gap: 45px;
  padding-bottom: 15px;
  border-bottom: 1px solid $mainBorder;
  margin-bottom: 15px;
}

.avatar {
  width: 170px;
  height: 170px;
  background: url('../../../../public/img/avatar.jpeg') center / cover no-repeat;
}

.info {

}

.title {
  color: #47525E;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 35px;
}

.subtitle,
.link {
  color: #47525E;
  font-size: 26px;
  line-height: 33px
}

.link {
  text-decoration: none;
}