@import '../../styles/variables';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-z-index;
  width: $sidebarWidth;
  height: 100vh;
  background-color: $dark;
  padding: 30px 40px 0 0;
}

.nav {

  .list {
    list-style: none;
  }

  .item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-top: 40px;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }
}