@import '../../styles/variables';

.dialogs {
  height: 100%;
  display: flex;
  gap: 30px;
}

.dialogsTitle {

}

.usersList {
  list-style: none;
}

.usersItem:not(:last-child) {
  margin-bottom: 10px;
}

.usersItem a {
  text-decoration: none;

}