@import '../../styles/variables';

.dialogs {
  display: flex;
}

.usersList {
  list-style: none;
  padding: 10px;
}

.usersItem:not(:last-child) {
  margin-bottom: 10px;
}

.usersItem a {
  text-decoration: none;

}

.dialogsList {
  list-style: none;
  padding: 10px;
}

.dialogsItem {

}